API_KEY=
API_BASE=
WSS_URL=
VOICE_URL=
# PostgreSQL 数据库
PG_HOST=
PG_PORT=5432
PG_NAME=
PG_USER=
PG_PASSWORD=
# 以下 OSS 配置暂时还没有用到
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET=
OSS_REGION=
OSS_ENDPOINT=

# Django 核心配置
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost